{% extends "base.html" %}
{% load urlify %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
	{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive">
	{% endif %}
	<h1>{{ title }} <small>{{ instance.timestamp }}</small></h1>
		{% if instance.user.get_full_name %}
		<p>Author: {{ instance.user.get_full_name }}</p>
		{% elif not instance.user.get_full_name %}
		<p>Author: {{ instance.user }}</p>
		{% endif %}
	<hr/>
	<p>

		<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

	<div class="row">
		<div class="col-sm-12">	
		{{ instance.content|linebreaks }}
		<hr/>
		<br/>
		<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" numposts="5"></div>
		</div>
	</div>
</div>
{% endblock content %}